.cell {
  border: 1px solid lightgray;
  padding: 8px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &.today {
    background-color: rgba(173, 255, 47, 0.5);
    border-color: rgb(173, 255, 47);
  }
  &.disabled {
    color: lightgray;
  }

  .cell-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .tasks-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .task-element {
      background-color: rgb(220, 220, 220, 0.3);
      border-radius: 5px;
      padding: 2px;
      transition: background-color, ease-in-out, 200ms;

      &:hover,
      :focus {
        background-color: rgba(187, 185, 185, 0.3);
      }
      &:active {
        background-color: rgba(187, 185, 185, 0.3);
      }
    }
  }
}
