.controls {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .prev,
  .next {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .date-wrapper {
    position: relative;
    display: inline-block;
  }
  #date {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .choose-date {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.add-task {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  padding: 5px;

  background-color: lightskyblue;
  border: 1px solid transparent;
  border-radius: 50px;

  transition: background-color, box-shadow, ease-in-out, 200ms;

  &:hover,
  :focus {
    background-color: rgb(15, 171, 223);
    -webkit-box-shadow: 10px 10px 20px -10px rgba(176, 176, 176, 1);
    -moz-box-shadow: 10px 10px 20px -10px rgba(176, 176, 176, 1);
    box-shadow: 10px 10px 20px -10px rgba(176, 176, 176, 1);
  }
  &:active {
    background-color: rgb(15, 171, 223);
    -webkit-box-shadow: 10px 10px 20px -10px rgba(176, 176, 176, 1);
    -moz-box-shadow: 10px 10px 20px -10px rgba(176, 176, 176, 1);
    box-shadow: 10px 10px 20px -10px rgba(176, 176, 176, 1);
  }

  & .add-icon {
    stroke: white;
  }
}
